@{
    Layout = "_LayoutUser";
}
@using BusinessObject.Models
@model List<Order>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>List of Orders</h2>
            <div class="list-group">
                @foreach (Order item in Model)
                {
                    <div class="list-group-item d-flex justify-content-between align-items-center">
                        <span>Order #<strong>@item.OrderId</strong> - Time: <strong>@item.Date.ToString("dd/MM/yyyy HH:mm:ss")</strong></span>
                        <div class="status-badge">
                            Status:
                            @if (item.Status.Equals("Pending"))
                            {
                                <span class="badge bg-primary">Pending</span>
                            }
                            else if (item.Status.Equals("Completed"))
                            {
                                <span class="badge bg-success">Completed</span>
                            }
                            else if (item.Status.Equals("Processing"))
                            {
                                <span class="badge bg-warning text-dark">Processing</span>
                            }
                            else if (item.Status.Equals("Cancelled"))
                            {
                                <span class="badge bg-danger">Cancelled</span>
                            }
                            else
                            {
                                <span class="badge">@item.Status</span>
                            }
                        </div>
                        <a href="/OrderDetail/Index?orderId=@item.OrderId" class="btn btn-primary">View Detail</a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
